* {
    font-variation-settings: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
    font-size: 1vw;
    font-family: ui-sans-serif, system-ui;
    ;
}

/* --------------------nav-------------------- */
nav {
    background-color: rgb(20, 20, 20);
    font-family: Helvetica Neue, sans-serif;
}

.nav-con {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgb(77, 76, 76);
    margin: 0;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 40px;
}

.menu {
    display: flex;
    margin-right: 50px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu li {
    list-style: none;
    margin-left: 1rem;
    font-size: 18px;
    font-weight: 650;
    margin: 20px 20px;
}

.dropdown-menu {
    display: none;
}

.tf {
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    background: linear-gradient(#161616, #161616) padding-box,
        linear-gradient(to right, #F3A952, #E18660) border-box;
    border-radius: 15px;
    border: 2px solid transparent;
}


/* --------------------header-------------------- */
.header-content {
    text-align: center;
    background-image: url(./images/background-of-icons-3x.png);
    background-position: center;
    border: 1px solid rgb(20, 20, 20);
    background-size: 900px auto;
    background-repeat: repeat-x;
}

.header-content h2 {
    color: white;
    font-size: 50px;
    font-weight: 630;
    text-align: center;
    margin-top: 200px;
}

.header-content h3 {
    color: white;
    font-size: 30px;
    font-weight: 630;
    text-align: center;
    margin-top: 10px;
}

.Slides {
    max-width: 100%;
    height: auto;
    margin-top: 120px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.bg-header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


/* --------------------As seen on-------------------- */
.Aso {
    display: flex;
    margin: 90px auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.Aso img {
    display: block;
    width: 10%;
    margin: 0 1rem;
}

.Aso h4 {
    color: white;
    font-size: 1.5rem;
    font-weight: 630;
    text-align: center;
    margin-right: 50px;
}

.hacknews {
    text-align: center;
}

.hacknews img {
    width: auto;
    height: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
    .Aso {
        display: none;
    }
}

/* --------------------Features-------------------- */
.features {
    font-family: Segoe UI, Arial, sans-serif;
    padding: 50px 13%;
    font-size: 26px;
    color: #fff;
}

.row,
.row2 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.col-text {
    flex-basis: 50%;
}

.col-img {
    flex-basis: 50%;
}

.col-img img {
    display: block;
    width: 50%;
    margin: auto;
}

.features h2 {
    font-weight: 650;
    margin-bottom: 15px;
}

.features p {
    font-weight: 200;
}

.col-img-crop {
    flex-basis: 50%;
    padding-right: 70px;
}

.col-img-crop img {
    display: block;
    width: 75%;
    margin: auto;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 4%;
    padding: 10px;
}

.feature-1 {
    text-align: center;
    margin-top: 4rem;
}

.mode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.mode img {
    margin: 0 20px
}


/* --------------------SWITCH-------------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #303030;
}

input:focus+.slider {
    box-shadow: 0 0 1px #303030;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* --------------------SHOW-------------------- */
.show {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.show img {
    max-width: 30%;
    border-radius: 10px;
    margin: 0 3px;
}

.marquee {
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
}

.track {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 50s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* --------------------feature-2-------------------- */
.feature-2 {
    color: #fff;
    font-size: 26px;
    text-align: center;
    padding: 50px 13%;
}

.feature-2 p {
    font-family: 'Airbnb Cereal', sans-serif;
    font-weight: 50;
    font-size: 24px
}

.feature-2 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: Segoe UI, Arial, sans-serif;
}

.feature-2 h3 {
    font-size: 2rem;
    font-weight: 650;
    margin-bottom: 5px;
    margin-top: 30px;
}

.detail-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.advanced {
    border: 1px solid rgb(76, 76, 76);
    border-radius: 10px;
    flex-basis: 65%;
    margin-right: 1rem;
    margin-bottom: 10px;
}

.advanced p {
    margin: 0 200px;
}

.advanced .img-detail {
    text-align: center;
}

.advanced .img-detail img {
    max-width: 765px;
    margin-top: 90px;
}

.full-catalog {
    border: 1px solid rgb(76, 76, 76);
    border-radius: 10px;
    flex-basis: 33%;
    margin-bottom: 10px
}

.full-catalog .img-detail {
    height: 480px;
    overflow: hidden;
}

.full-catalog .img-detail img {
    height: 500px;
    margin-top: 30px;
}

.product {
    border: 1px solid rgb(76, 76, 76);
    border-radius: 10px;
    margin: 0 10px;
    margin-bottom: 10px;
}

.product h3 {
    margin-bottom: 15px
}

.product p {
    margin-bottom: 30px
}

.product img {
    width: 100%;
    overflow: hidden;
}

.product .img-detail {
    margin-bottom: -5px;
}

.img-detail .img-3x {
    display: none;
}

.detail-3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.scenes {
    border: 1px solid rgb(76, 76, 76);
    border-radius: 10px;
    flex-basis: 49%;
    margin: 0 5px;
    margin-bottom: 10px;
}

.scenes .img-detail {
    margin-top: 100px;
}

.scenes .img-detail img {
    width: 100%;
}

.notes {
    border: 1px solid rgb(76, 76, 76);
    border-radius: 10px;
    flex-basis: 49%;
    margin: 0 5px;
    margin-bottom: 10px;
}

.notes .img-detail {
    margin-top: 30px;
}

.notes .img-detail img {
    width: 90%;
}

.detail-4 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.box-detail {
    border: 1px solid rgb(76, 76, 76);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.box-detail h3 {
    font-size: 28px;
}

.box-detail img {
    width: 15%;
}

.box-detail.lastbox h3 {
    margin: 0;
}


/* --------------------box content-------------------- */
.last {
    margin: 200px 0;
    display: inline-block;
    font-size: 22px;
}

.SP a {
    color: white;
    padding: 10px 20px;
    background: linear-gradient(#161616, #161616) padding-box,
        linear-gradient(to right, #F3A952, #E18660) border-box;
    border-radius: 15px;
    border: 2px solid transparent;
    margin-bottom: 30px;
}

.SP {
    margin-bottom: 30px;
}

.last a {
    text-decoration: none;
}

.last h4 {
    font-weight: 600;
    margin-top: 20px;
}

.last .GS {
    font-size: 30px;
    background: -webkit-linear-gradient(45deg, #F3A952 52%, #E18660 4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --------------------footer-------------------- */
.footer {
    left: 0;
    bottom: 0;
    border-top: 1px solid rgb(76, 76, 76);
    display: grid;
    height: 250px;
}

.foot-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 30px;
}

.contact img {
    width: 30px;
    margin: 0 5px
}

.foot-con .menu {
    justify-self: center;
    color: white;
    margin-left: 50px;
}

.foot-con .menu li {
    font-size: 20px;
}

.contact {
    justify-self: flex-end;
    margin-right: 70px;
    order: 2;
}

.twitter-icon {
    width: 30px;
}

.foot-con a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
}

.foot-con .logo img {
    width: 90px;
    height: 90px;
    margin-left: 40px;
}

.copyright {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color: #A8A8A8;
    margin: 0 50px;
}

.copyright .terms a {
    color: #A8A8A8;
    text-decoration: none;
    justify-self: center;
    margin: 0 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copyright .terms {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.copyright p {
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.details-page {
    margin: 200px auto;
    max-width: 80%;

}

.details-page h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.details-page p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.details-page .accent {
    text-decoration: none;
    color: #fff;
}

.details-page strong {
    color: #fff;
    font-size: 18px;
}

.details-page a {
    color: #fff;
}
/* --------------------Music page------------------- */
.part-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    font-weight: 600;
}

.part-con h2 {
    color: #fff;
    text-align: center;
    font-size: 2.4rem;
}
.part-btn a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    padding: 15px 32px;
    border-radius: 12px;
    background-color: rgb(33, 32, 32);
}
.part-btn{
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.part-con .row{
    padding: 0;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.part-img {
    display: flex;
    align-items: center;
    gap: 50px;
}
.part-img img{
    max-width: 128px;
    max-height: 128px;
    padding: 8px;
}
.slow{
    margin: 0 13%;
    display: flex;
}
.slow .col-img img{
    width: 440px;
    margin: 0;
}
.slow .col-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 440px;
    margin: 0;
    padding: 8px;
}

.slow .col-text h2{
    text-align: left;
    margin-bottom: 32px;
}
.slow .col-text p{
    color: #837E7E;
    font-size: 18px;
    text-align: left;
    margin-bottom: 24px;
}
.slow .col-text a {
    display: flex;
    padding: 12px 18px;
    background: #3D8F4F;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    align-items: center;
    border-radius: 26px;
    align-self: start;
}
.slow .col-text img{
    margin-right: 8px;
}
.slow .col-text a p{
    color: #fff;
}
.with-us{
    margin-top: 80px;
}
.with-us .part-btn{
    margin-bottom: 150px;
    margin-top: 50px;
}
.spt-btn a{
    display: none;
    padding: 12px 18px;
    background: #3D8F4F;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
    align-items: center;
    border-radius: 26px;
    align-self: start;
}
.spt-btn img{
    margin-right: 8px;
}


@media screen and (max-width: 765px) {
    .foot-con {
        display: flex;
        flex-wrap: wrap;
    }

    .foot-con .menu {
        margin: 0 auto;
    }

    .foot-con a {
        font-size: 16px;
    }

    .foot-con .hello {
        margin: 0 auto;
    }

    .foot-con .logo img {
        max-width: 100%;
        height: auto;
        margin-left: 10px;
    }

    .foot-con .contact {
        order: 0;
        margin: 0 10px;
        margin-left: auto;
    }

    .copyright {
        font-size: 16px;
        display: block;
        padding-bottom: 15px;
        margin-top: 10px;
    }

    .copyright p {
        margin: 0 auto;
        text-align: center;
    }

    .copyright .terms a {
        display: block;
        margin: 0 10px;
    }

    .copyright .terms {
        margin-top: 10px;
    }

}

/* --------------------Contact Us-------------------- */
.contact-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-weight: 600;
}

.contact-con h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 26rem;
    color: #fff;
}

form input,
form textarea,
form select {
    color: #fff;
    border: 1px solid rgb(76, 76, 76);
    border-radius: 12px;
    margin: 7px 0;
    padding: 15px;
    outline: none;
    background-color: rgba(16, 16, 16, 0);
    font-size: 1rem;
    font-weight: 700;
    appearance: none;
}

form select option {
    background-color: rgba(16, 16, 16, 0.3);
    font-size: 1rem;
    font-weight: 500;
}

::placeholder {
    color: #fff;
}

.send {
    margin-bottom: 120px;
}

.send button {
    margin: 100px 0;
    margin-bottom: 200x;
    padding: 10px 30px;
    background: #E18660;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: 0;
    border-radius: 12px;
    outline: 0;
    cursor: pointer;
}

/* --------------------Updates-------------------- */
.updates-con {
    color: #fff;
    margin: 200px 15%;
    font-weight: bold;
    font-family: Airbnb Cereal, sans-serif;
}

.updates-con hr {
    margin: 30px 0;
    border: none;
    height: 0.5px;
    color: rgb(177, 177, 177);
    background-color: rgb(177, 177, 177);
    opacity: 30%;
}

.updates-con h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.updates-con p {
    font-size: 1.05rem;
    padding: 8px;
    font-family: Airbnb Cereal, sans-serif;
}

.updates-con .dates {
    color: #F3A952;
}

.updates-col {
    display: flex;
}

.updates-col .details {
    flex-basis: 70%;
}

.updates-col .dates {
    flex-basis: 30%;
}

/* --------------------Responsive-------------------- */
@media screen and (max-width: 765px) {
    .nav-con {
        display: none;
    }

    .dropdown-menu-active {
        display: flex;
        background-color: #1F1F1F;
        position: absolute;
        right: 2em;
        top: 80px;
        width: 180px;
        border-radius: 15px;
        justify-content: center;
    }

    .dropdown-menu .menu {
        display: block;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    .dropdown-menu .menu li a {
        font-weight: 550 !important;
    }

    .hambtn {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 30px;
        right: 20px;
    }

    .toggleHam {
        display: inline-block;
        cursor: pointer;
        background: #1F1F1F;
        padding: 10px 13px;
        border-radius: 10px;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 15px;
        height: 2px;
        background-color: #4e4e4e;
        margin: 3px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 5px) rotate(-45deg);
    }

    /* Fade out the second bar */
    .change .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -5px) rotate(45deg);
    }


    .header-content h2 {
        font-size: 35px;
    }

    .header-content h3 {
        font-size: 18px;
        margin: 0 50px;
        margin-top: 30px;
    }

    .Slides {
        max-width: 85%;
        margin: 0 auto;
    }

    .features {
        padding: 10px;
    }

    .features h2,
    .feature-2 h2 {
        font-size: 24px;
    }

    .features p {
        font-size: 14px;
        font-weight: 400;
    }

    .row {
        display: block;
    }

    .col-text {
        text-align: center;
        margin: 0 10px;
    }

    .col-text p,
    .feature-1 p {
        text-align: center;
        margin: 0 65px;
    }

    .col-img {
        padding: 0;
        margin-top: 30px;
    }

    .col-img img {
        width: 60%;
    }

    .col-img-crop {
        order: 1;
        padding: 0;
        margin-top: 30px;
    }

    .row2 {
        display: flex;
        flex-direction: column;
    }

    .show img {
        max-width: 70%;
        border-radius: 10px;
        margin: 0 3px;
    }

    .track {
        white-space: nowrap;
        will-change: transform;
        animation: marquee 5s linear infinite;
    }

    .feature-2 {
        color: #fff;
        font-size: 28px;
        text-align: center;
        padding: 50px 5%;
    }

    .feature-2 p {
        font-size: 16px;
    }

    .feature-2 h3 {
        font-size: 24px;
    }

    .head-features p {
        margin: 0 60px;
        margin-bottom: 1.5rem;
    }

    .detail-1 {
        margin: 0;
        padding: 0;
        display: block;
    }

    .advanced {
        padding: 0 10px;
        margin: 0;
        margin-bottom: 20px;
    }

    .advanced p {
        margin: 0 20px;
    }

    .advanced .img-detail img {
        max-width: 100%;
        margin-top: 30px;
    }

    .full-catalog p {
        margin-top: 10px;
    }

    .full-catalog .img-detail {
        padding: 0 13px;
        max-width: 100%;
    }

    .full-catalog .img-detail img {
        width: 100%;
        height: auto;
    }

    .img-detail .img-3x {
        display: block !important;
        max-width: 100%;
    }

    .img-detail .img-desk {
        display: none;
    }

    .product {
        margin: 0;
        margin-top: 20px;
    }

    .product p {
        margin: 0 30px;
        margin-bottom: 30px;
    }

    .detail-3 {
        flex-direction: column;
    }

    .scenes,
    .notes {
        margin: 0;
        margin-bottom: 20px;
    }

    .scenes .img-detail {
        margin: 30px 10px 50px;
    }

    .detail-4 {
        max-width: 100%;
    }

    .detail-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .box-detail {
        border: 1px solid rgb(76, 76, 76);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .box-detail h3 {
        font-size: 18px;
        margin: 0;
    }

    .last {
        margin: 70px 0;
    }

    .last a,
    .last h4 {
        font-size: 22px;
        margin-top: 0;
    }

    .last .GS a {
        font-size: 22px;
    }

    .contact-con {
        margin-top: 100px;
    }

    .send {
        margin: 80px 0 200px;
    }

    .send button {
        margin: 0;
    }

    .contact-con h2 {
        font-size: 2rem;
    }

    form {
        width: 20rem;
        ;
    }

    form input,
    form textarea,
    form select {
        font-size: 0.95rem;
    }

    .details-page {
        margin-top: 100px;
    }

    .updates-con {
        margin-top: 100px;
    }

    .updates-con h2 {
        font-size: 28px;
    }

    .updates-con p {
        font-size: 14px;
    }

    .updates-col {
        display: flex;
        flex-direction: column;
    }

    .updates-con hr {
        margin: 15px 0;
    }
    .part-con h2{
        font-size: 28px;
    }
    .part-img {
        gap: 10px;
    }
    .part-img img{
        max-width: 75px;
        max-height: 128px;
    }
    .slow{
        margin: 0 12%;
    }
    .slow .row{
        display: block;
    }
    .slow .col-img img{
        width: 400px;
        margin: 0 auto;
    }
    .slow .col-text{
        width: 440px;
        margin: 0;
        padding: 0;
    }
    .slow .col-text h2{
        text-align: center;
        font-size: 32px;
    }
    .slow .col-text p{
        text-align: center;
        font-size: 16px;
        margin: 0 30px;
        margin-bottom: 24px;
    }
    .slow .col-text a{
        display: none;
    }
    .slow .col-text {
        margin: 0 30px;
    }
    .spt-btn a{
        display: flex;
        margin-top: 20px;
    }
    .spt-btn{
        display: flex;
        justify-content: center;
    }
}